/* App.css */

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  /* min-width: 400px; */
 
  
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #0077cc;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  color: #ffffff;
  background-color: #0077cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

p {
  margin-top: 10px;
  font-size: 1.1em;
}

.error {
  color: red;
  font-size: 1em;
}

.weather-info {
  margin-top: 20px;
}
